.jumbotron {
  /*  Background fallback in case of IE8 & down, or in case the image doesn't load, such as with slower connections  */
  background: url("https://3.bp.blogspot.com/-wgMmxCYZ-U4/XFcjnAL-D4I/AAAAAAAADrQ/O2MdJhb_nEYqAKqZoQP5HMcosvzevoUtgCHMYCw/s1600/nba-wallpapers-wallpaper-cave.jpg")
    center center no-repeat fixed #464646;

  font-family: Serif, Monospace;
  height: 400px;
  width: auto;
  opacity: 0.5;
}

h1,
h4 {
  color: orangered;
  font-weight: bolder;
}
